table a{
    width: 100%;
    height: 100%;
    padding: 0;
}

table, td, th, tr, .table a{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;

    color: var(--gray-800);
}

table{
    width: 100%;
    height: auto;
    padding: 0.4rem;
    border-spacing: 0px;

    background: var(--white);
    border-radius: 0.4rem;
    border: solid 0.1rem var(--gray-50);
    box-shadow: 0px 0px 0.8rem 0.1rem var(--gray-50);
}

th{
    font-weight: 800;
    text-transform: uppercase;
    color: var(--gray-800);

    padding: 0.8rem;
    border-left: solid 1px var(--gray-50);
}


thead th:first-child{
    border-left: none;
}

.hover, tbody tr td div td, tbody tr td div td a{
    padding: 0.4rem;
}

.hover:hover, tbody tr td div td:hover{
    background-color: rgba(255, 0, 0, 0.155);
    cursor: pointer;
}

tbody tr td div{
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

tbody tr  td div td{

    width: 100%;
    height: 100%;
}

tbody > tr:nth-child(2n){
    color: var(--white);
    background: var(--gray-50);
}
